<h2>Sign up</h2>

<%= form_for(user_registration_path,method: :post) %>
<%= devise_error_messages! %>
<table>

<tr>
<td>Username : </td>
<td><%=text_field "user[username]",@user.username %></td>
</tr>

<tr>
<td>Location : </td>
<td><%=text_field "user[location]" ,@user.location %></td>
</tr>

<tr>
<td>Email : </td>
<td><%=email_field "user[email]",@user.email %></td>
</tr>

<tr>
<td>Password : </td>
<td><%=password_field "user[password]",@user.password %></td>
</tr>

<tr>
<td>Retype password : </td>
<td><%=password_field "user[password_confirmation]",@user.password_confirmation %></td>
</tr>

<tr>
<td><%= submit , class: "form_submit" %></td>
</tr>
</table>
<br />
<%= render "devise/shared/links" %>